<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6">
      <h5>In Search Bar paste these User Name to see the result</h5>
      <ul *ngFor="let user of userList; let index=i" class="list-group">
        <li class="list-group-item">{{user.username}}</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Search</span>
        </div>
        <input #searchTerm type="text" class="form-control" (keyup)="getUserByName(searchTerm.value)" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-6">
          <div *ngFor="let user of users" class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{user.username}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{user.name}} </h6>
              <p class="card-text">
                <span>
              <b>Address</b>:{{user.address.city}} <br>
               </span> 
          <span>
            <b>Email</b>:{{user.email}}
          </span>
              <a href="#"> <b>Phone</b>:{{user.phone}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
